Lab4_ESP32_mqtt_pubsub/node-red.txt
[{"id":"f3ea62e9.fc336","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9dc6040b.bfb438","type":"ui_button","z":"f3ea62e9.fc336","name":"","group":"9331f7c3.3ae1e8","order":0,"width":0,"height":0,"passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"800","payloadType":"num","topic":"","x":118,"y":169,"wires":[["6f02bff9.27243","9ffa078a.28ce78"]]},{"id":"ab33b898.d4f2d8","type":"ui_button","z":"f3ea62e9.fc336","name":"","group":"9331f7c3.3ae1e8","order":0,"width":0,"height":0,"passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":95,"y":272,"wires":[["6f02bff9.27243","9ffa078a.28ce78"]]},{"id":"6f02bff9.27243","type":"mqtt out","z":"f3ea62e9.fc336","name":"","topic":"public/esp/inputkhanhney","qos":"2","retain":"true","broker":"73c7533d.c5373c","x":378,"y":280,"wires":[]},{"id":"9ffa078a.28ce78","type":"debug","z":"f3ea62e9.fc336","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":343,"y":150,"wires":[]},{"id":"9331f7c3.3ae1e8","type":"ui_group","z":"","name":"Default","tab":"d1144b3b.bc60f8","disp":true,"width":"6","collapse":false},{"id":"73c7533d.c5373c","type":"mqtt-broker","z":"","name":"Publish","broker":"m15.cloudmqtt.com","port":"17121","clientid":"khanhneyiothutechzs","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d1144b3b.bc60f8","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]